  *{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  html,body{
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Arial;
    background: #FAFF00 !important;
    color: #191919;
  }

  h1{
    line-height: 100%;
    height: 100%;
    color: black !important;
    text-align: center;
    margin-top: 0.15em;
  }
  @media (max-width: 400px) {
    h1 {font-size: 8em !important;}
  }
  @media all and (min-width: 401px) and (max-width:480px) {
    h1 {font-size: 9em !important;}
  }
  @media all and (min-width: 481px) and (max-width:768px) {
    h1 {font-size: 11em !important;}
  }
  @media all and (min-width: 769px) {
    h1 {font-size: 15em !important;}
  }
  @media all and (min-width: 1024px) {
    h1 {
      font-size: 25em !important;
      margin-top: 0.225em !important;
    }
  }
  .ingresa-codigo{
    text-align: center;
    color: #333;
    font-size: 16px;
    padding: 0;


  }
  /*@media all and (min-width: 600px) and (max-width:799px)*/
  /*@media (max-width: 480px) {*/
    /*h1 {font-size: 10em !important;}*/
  /*}*/

  input {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    background: rgb(255,255,0);
    border: 1px dotted rgba(0,0,0, 0.15)
  }
  div.uber-banner{
    background: #1d1d1d;
    width: 100%;
  }
  .black-bar{
    background: RGB(29, 29, 29);
  }
  p{
    color: white;
    padding: 20px 0 0 25px;
    display: inline-block;
    font-size: 24px;
  }
  /*
  div.uber-banner figure{
    margin:0 auto;
  }
  div.uber-banner img{
    height: 100px;
    display: inline-block;

  }

  @media and screen (min-width: 920px){
    div.uber-banner img{
      margin:50px;
    }
  }

  @media and screen (max-width: 919px){
    div.img-center{
      margin:0 auto;
    }
    p{font-size: 24px;}
  }

  div.uber-banner  p{

    text-align: center;
    color: white;
    padding: 40px;
    font-size: 28px;
  }
  div.uber-banner figure .kaizen{
    float: right;
  }
*/
